<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Do</title>
</head>
<body>
    <div class="flex-shrink-0 p-3 bg-white left" style="width: 325px;">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-5 fw-semibold">OWASP TOP10</span>
        </a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-2 bg-light">
            <!-- Your sidebar content goes here -->
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold bg-secondary text-white tpadrao text-start" data-bs-toggle="collapse" data-bs-target="#A01" aria-expanded="false">
                    A01:2021-Broken Access Control
                </button>
                <div class="collapse" id="A01">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 medium">
                    <li><a href="#" class="subtitle">Overview</a></li>
                    <li><a href="#" class="subtitle">Example</a></li>
                    <li><a href="#" class="subtitle">How can we prevent this?</a></li>
                    </ul>
                </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold bg-secondary text-white tpadrao text-start" data-bs-toggle="collapse" data-bs-target="#A02" aria-expanded="false">
                        A02:2021-Cryptographic Failures 
                    </button>
                    <div class="collapse" id="A02">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 medium">
                        <li><a href="#" class="subtitle">Overview</a></li>
                        <li><a href="#" class="subtitle">Example</a></li>
                        <li><a href="#" class="subtitle">How can we prevent this?</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold bg-secondary text-white tpadrao text-start" data-bs-toggle="collapse" data-bs-target="#A03" aria-expanded="false">
                        A03:2021-Injection
                    </button>
                    <div class="collapse" id="A03">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 medium">
                        <li><a href="#" class="subtitle">Overview</a></li>
                        <li><a href="#" class="subtitle">Example</a></li>
                        <li><a href="#" class="subtitle">How can we prevent this?</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold bg-secondary text-white tpadrao text-start" data-bs-toggle="collapse" data-bs-target="#A04" aria-expanded="false">
                        A04:2021-Insecure Design
                    </button>
                    <div class="collapse" id="A04">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 medium">
                        <li><a href="#" class="subtitle">Overview</a></li>
                        <li><a href="#" class="subtitle">Example</a></li>
                        <li><a href="#" class="subtitle">How can we prevent this?</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold bg-secondary text-white tpadrao text-start" data-bs-toggle="collapse" data-bs-target="#A05" aria-expanded="false">
                        A05:2021-Security Misconfiguration
                    </button>
                    <div class="collapse" id="A05">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 medium">
                        <li><a href="#" class="subtitle">Overview</a></li>
                        <li><a href="#" class="subtitle">Example</a></li>
                        <li><a href="#" class="subtitle">How can we prevent this?</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold bg-secondary text-white tpadrao text-start" data-bs-toggle="collapse" data-bs-target="#A06" aria-expanded="false">
                        A06:2021-Vulnerable and Outdated Components 
                    </button>
                    <div class="collapse" id="A06">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 medium">
                        <li><a href="#" class="subtitle">Overview</a></li>
                        <li><a href="#" class="subtitle">Example</a></li>
                        <li><a href="#" class="subtitle">How can we prevent this?</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold bg-secondary text-white tpadrao text-start" data-bs-toggle="collapse" data-bs-target="#A07" aria-expanded="false">
                        A07:2021-Identification and Authentication Failures
                    </button>
                    <div class="collapse" id="A07">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 medium">
                        <li><a href="#" class="subtitle">Overview</a></li>
                        <li><a href="#" class="subtitle">Example</a></li>
                        <li><a href="#" class="subtitle">How can we prevent this?</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold bg-secondary text-white tpadrao text-start" data-bs-toggle="collapse" data-bs-target="#A08" aria-expanded="false">
                        A08:2021-Software and Data Integrity Failures
                    </button>
                    <div class="collapse" id="A08">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 medium">
                        <li><a href="#" class="subtitle">Overview</a></li>
                        <li><a href="#" class="subtitle">Example</a></li>
                        <li><a href="#" class="subtitle">How can we prevent this?</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold bg-secondary text-white tpadrao text-start" data-bs-toggle="collapse" data-bs-target="#A09" aria-expanded="false">
                        A09:2021-Security Logging and Monitoring Failures
                    </button>
                    <div class="collapse" id="A09">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 medium">
                        <li><a href="#" class="subtitle">Overview</a></li>
                        <li><a href="#" class="subtitle">Example</a></li>
                        <li><a href="#" class="subtitle">How can we prevent this?</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed fw-semibold bg-secondary text-white tpadrao text-start" data-bs-toggle="collapse" data-bs-target="#A10" aria-expanded="false">
                        A10:2021-Server-Side Request Forgery
                    </button>
                    <div class="collapse" id="A10">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 medium">
                        <li><a href="#" class="subtitle">Overview</a></li>
                        <li><a href="#" class="subtitle">Example</a></li>
                        <li><a href="#" class="subtitle">How can we prevent this?</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            </nav>
            <main class="col-md-10 mt-5">
                {% block conteudo %} {% endblock %}
            <!-- Your main content goes here -->
            </main>
        </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>